---
import { getCollection } from 'astro:content'
import ArticleCard from '../components/ArticleCard.astro'
import PageLayout from '../layouts/PageLayout.astro'

const title = 'Projets'
const projects = await getCollection('projects')
---

<PageLayout title={title}>
    <div slot="description">
        <p>Cette liste présente des projets sur lesquels j'ai pris plaisir à travailler en dehors du cadre professionnel. Il ne s'agit aucunement de démonstration de compétences mais plutôt une manière de partager mes sources d'intérêts et explorations.</p>
        <p>Faisant partie des développeurs trouvant les pages web bien trop lourdes et anormalement complexes (exemple d'articles <a href="https://tonsky.me/blog/js-bloat/" target="_blank">ici</a>, <a href="https://medium.com/@fulalas/web-crap-has-taken-control-71c459df6e62" target="_blank">là</a>, ou <a href="https://www.speedcurve.com/blog/ten-years-page-bloat/" target="_blank">là</a>) j'ai tendance à éviter au maximum l'utilisation de framework ou de librairie. L'objectif est double, limiter le poids des pages mais aussi réduire le plus possible la charge de calcul lors du développement local, les multiples compilations/transpilations à la volée ne sont pas gratuites pour nos machines. Il va de soi que je n'applique ces principes que pour mes projets personnels et non en contexte professionnel.</p>
        <p>Mon <a href="https://github.com/monsieurluge" target="_blank">dépôt github</a> héberge bien d'autres projets souvent démarrés et laissés de côté rapidement pour raisons diverses. Je ne peux garantir les reprendre un jour mais l'idée n'est pas à exclure.</p>
        <p>Contexte de développement :</p>
        <ul>
            <li><strong>matériel :</strong> Macbook Pro M1, clavier <a href="https://github.com/foostan/crkbd" target="_blank">corne 40% split</a></li>
            <li><strong>éditeur de code :</strong> <a href="https://zed.dev" target="_blank">Zed</a></li>
            <li><strong>conteneurisation :</strong> <a href="https://www.docker.com/products/docker-desktop/" target="_blank">Docker Desktop</a></li>
            <li><strong>client git :</strong> <a href="https://www.sublimemerge.com" target="_blank">Sublime Merge</a></li>
            <li><strong>outillage API :</strong> <a href="https://insomnia.rest" target="_blank">Insomnia</a></li>
            <li><strong>terminal :</strong> <a href="https://www.warp.dev" target="_blank">Warp</a></li>
        </ul>
    </div>
    <div class="articles">
        {projects.map(project =>
            <ArticleCard
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                tags={project.data.tags.sort()}
                title={project.data.title}
                url={`/projects/${project.slug}`}
            />
        )}
    </div>
</PageLayout>

<style>
    .articles {
        display: flex;
        flex-direction: column;
    }
</style>
