---
import { getCollection } from 'astro:content'
import ArticleCard from '../components/ArticleCard.astro'
import PageLayout from '../layouts/PageLayout.astro'

const title = 'Projets'
const projects = await getCollection('projects')
---

<PageLayout title={title}>
    <p>Projets parfois aboutis. Expérimentations étranges. Code en dehors des tendances. Il y a un peu de tout et surtout beaucoup de moi.</p>
    <div class="articles">
        {projects.map(project =>
            <ArticleCard
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                title={project.data.title}
                url={`/projects/${project.slug}`}
            />
        )}
    </div>
</PageLayout>

<style>
    .articles {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
</style>
