---
import { Image } from 'astro:assets'

const { cover, coverAlt, title, tags, url } = Astro.props
---

<div class="article-card">
    <h2>{title}</h2>
    <a href={url} class="cover-link">
        <Image class="cover" src={cover} alt={coverAlt} />
    </a>
    <div class="description">
        <ul class="tags">
            {tags.map((tag: String) => <li>{tag}</li>)}
            <li class="empty-tag">&larr;</li>
        </ul>
    </div>
</div>

<style>
    .article-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article-card:hover h2::before {
        --dot-color: var(--f-med);
    }

    .article-card:hover h2::after {
        --dot-color: var(--f-med);
    }

    .cover-link {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        border: unset;
        overflow: hidden;
    }

    .cover {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: unset;
        transition: transform 0.3s;
    }

    .article-card:hover .cover {
        transform: scale(1.05);
    }

    .tags {
        position: absolute;
        left: 2px;
        bottom: 2px;
        width: calc(100% - 4px);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        gap: 2px;
        justify-content: left;
        font-family: anonymous, monospace;
        font-size: .8rem;
        list-style-type: none;
        overflow: hidden;
    }

    li {
        padding: 2px .5em;
        font-size: .8rem;
        text-align: center;
        white-space: nowrap;
        color: transparent;
        background-color: transparent;
        border-radius: 2px;
        transition:
            background-color var(--transition-duration),
            color var(--transition-duration);
    }

    li.empty-tag {
        flex: 1;
        text-align: left;
    }

    .article-card:hover li {
        color: var(--f-high);
        background-color: var(--b-low);
    }
</style>
