---
import { Image } from 'astro:assets'

const { cover, coverAlt, title, tags, url } = Astro.props
---

<div class="article-card">
    <h2>{title}</h2>
    <a href={url} class="cover-link">
        <Image class="cover" src={cover} alt={coverAlt} />
    </a>
    <div class="description">
        <ul class="tags">
            {tags.map((tag: String) => <li>{tag}</li>)}
        </ul>
    </div>
</div>

<style>
    .article-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article-card:hover h2 {
        border-color: var(--f-med);
    }

    .article-card:hover h2::before {
        color: var(--f-med);
    }

    .cover-link {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        margin-bottom: 2px;
        border: unset;
        overflow: hidden;
    }

    .cover {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: unset;
        transition: transform 0.3s;
    }

    .article-card:hover .cover {
        transform: scale(1.05);
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: left;
        margin: 0;
        padding: 0;
        font-family: anonymous, monospace;
        font-size: .8rem;
        color: var(--f-high);
        list-style-type: none;
        overflow: hidden;
        background-color: var(--b-low);
    }

    li {
        padding: 2px .5em;
        font-size: .8rem;
        text-align: center;
        white-space: nowrap;
        color: var(--f-low);
        border-right: 2px solid var(--background);
        transition:
            background-color var(--transition-duration),
            color var(--transition-duration);
    }

    .article-card:hover li {
        color: var(--f-high);
        background-color: var(--b-med);
    }
</style>
