---
import { Image } from 'astro:assets'

const { cover, coverAlt, title, tags, url } = Astro.props
---

<div class="article-card">
    <a href={url} class="cover-link">
        <Image class="cover" src={cover} alt={coverAlt} />
    </a>
    <ul class="description">
        <li class="article-title"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 19.5v-15m0 0l-6 5.625M12 4.5l6 5.625"/></svg>{title}</li>
        {tags.map((tag: String) => <li>{tag}</li>)}
    </ul>
</div>

<style>
    .article-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cover-link {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        margin-bottom: 2px;
        border-radius: var(--border-radius-small);
        overflow: hidden;
    }

    .cover {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: unset;
        transition: transform 0.3s;
    }

    .article-card:hover .cover {
        transform: scale(1.05);
    }

    .description {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        font-family: monospace;
        font-size: .8rem;
        line-height: 1.6rem;
        color: var(--f-high);
        list-style-type: none;
        background-color: var(--b-med);
        border-radius: var(--border-radius-small);
    }

    li {
        padding: 0 1.2em;
        border-right: 2px solid var(--background);
    }

    li:last-child {
        border-right: none;
    }

    .article-title {
        flex: 1;
    }

    .article-title svg {
        width: .8em;
        height: .8em;
        margin-right: .4em;
    }
</style>
