---
import { Image } from 'astro:assets'

const { cover, coverAlt, title, tags, url } = Astro.props
---

<div class="article-card">
    <a href={url} class="cover-link">
        <Image class="cover" src={cover} alt={coverAlt} />
    </a>
    <ul class="description">
        <li class="article-title">{title}</li>
        {tags.map((tag: String) => <li>{tag}</li>)}
    </ul>
</div>

<style>
    .article-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cover-link {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        margin-bottom: 2px;
        border-radius: var(--border-radius-small);
        overflow: hidden;
    }

    .cover {
        aspect-ratio: 2 / 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: unset;
        transition: transform 0.3s;
    }

    .article-card:hover .cover {
        transform: scale(1.05);
    }

    .description {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        font-family: monospace;
        font-size: .8rem;
        line-height: 1.6rem;
        color: var(--f-high);
        list-style-type: none;
        background-color: var(--b-low);
        border-radius: var(--border-radius-small);
    }

    .description li {
        padding: 0 1.4em;
        border-right: 2px solid var(--background);
    }

    .description li:last-child {
        border-right: none;
    }

    .description .article-title {
        flex: 1;
    }
</style>
